* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2bd5e9 !important;
}
input {
  color: #022255 !important;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(246, 8, 110, 0.8);
  border: 1px solid rgba(246, 8, 110, 0.8);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-horizontal {
  width: 320px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.show-pass {
  position: absolute;
  top: 16%;
  right: 8%;
}
label {
  text-align: left !important;
  padding-bottom: 4px;
}
.control-label {
  text-align: left !important;
  padding-bottom: 4px;
}
.progress {
  height: 3px !important;
}
.form-group {
  margin-bottom: 10px;
}
.progress-bar-danger {
  background-color: #e90f10 !important;
}
.progress-bar-warning {
  background-color: #ffad00 !important;
}
.progress-bar-success {
  background-color: #02b502 !important;
}
.fa-circle {
  font-size: 5px;
}
.fa-eye {
  cursor: pointer;
  color: #022255;
}
.fa-check {
  color: #02b502;
}
.btn {
  width: 180px !important;
  background: linear-gradient(to right, #f6086e, #ff133a);
  font-size: 18px;
  color: #fff !important;
  margin: 0 auto 5px;
  padding: 8px 0;
}
